
.title {
  background: rgb(121, 151, 242);
}
.dropContent{
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 12px;
  row-gap: 12px;
  max-height: 292px;
  padding: 30px;
  .item{
    width: 154px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
  }
  .itemActive{
    border: 2px solid #758096;
  }
}